In [10]:
# here we have two options either 
# 1. to remove the row  
# 2.  to covert all the values in the culomn to the same formate
#   3. for a small data set we can only replace a value

In [ ]:
import pandas as pd
df = pd.read_csv("niceguys.csv")
print(df)

In [ ]:

x = df['living_allowance'].mean()
df.fillna({'living_allowance' : x},inplace = True)
print(df.isna().sum())

In [ ]:
# here we convert the data Frame to a single type and check if there is any row that is not of that type.
df['living_allowance'] = pd.to_numeric(df['living_allowance'], errors= 'coerce')
print(df.isna().sum())

In [ ]:
# Wrong data ....... incase the row has data in the right format, not empty row, but the figure was wrongly emptyed into the system
# eg instead of 19 someone enters 19999

# here we can solve this by replacing the data

# set 'duration' =45 in row 7
df.loc[7,'duration'] = 45

# we can also loop through the column and set the column values to a minimum
for x in df.index:
    if df.loc[x,'duration'] > 120:
        df.loc[x,'duration'] = 120

In [16]:
# for dulipcate values 
# we use the duplicated() to find duplicates in the data frame
# returns a boolean value for each row

import pandas as pd
pd.set_option('display.max_row',35)
df = pd.read_csv("niceguys.csv")

# print(df.to_string())

duplicate = df[df.duplicated()]
print(duplicate)

row = df.shape[0]
column = df.shape[1]
print('rows:' ,row    , 'columns:' ,column)

Empty DataFrame
Columns: [number_siblings, name, sex, age, living_allowance, Are_you_a, How_many_time_do_eat_food, do_you_have_aboyfriend/girlfriend]
Index: []
rows: 35 columns: 8

In [ ]:
# to remove all the duplicates 
df.drop_duplicates(inplace = True)