In [1]:
# Data Science with Python

# Application of data science

# data analysis focus on processing data and extracting insights to give informed decisions.
# tools used in data science, analysis, ML
# data collection tool, ODK 

# 1: import necessary libraries 
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 

print(np.__version__)
print(pd.__version__)

1.26.4
2.2.2

In [ ]:
%pip install matplotlib

In [7]:
# step@: Load data set

df = pd.read_csv(r"niceguys.csv")

# display first row of the database
print(df.head(15))

    number_siblings                      name     sex  age living_allowance  \
0                 1        Nakasujja Gertrude  female   33              NaN
1                 3     Arinda Asiimwe Atweta  female   23           50,000
2                 4       Ndjekornom Victoire    male   23            25000
3                 0            KATURAMU EDGAR    male   27           500000
4                 4         Abinsinguza Lasse    male   24           100000
5                 4       Beingana Jim Junior    male   20            10000
6                 6  Cyiza Ndoli Jean de Dieu    male   23            60000
7                 8       MUSIIMENTA CISSYLYN  female   20               70
8                 2          Nakanwagu Vanesa  female   23           250000
9                 9               Otim Ronald    male   25              NaN
10                1                 Levi Aine    male   24        1,000,000
11                1             NASAAZI TAKIA  female   23             2000
12                5                     Alvin    male   23          2500000
13                3           MULINDWA YUSUF     male   22              NaN
14                2                    Hillal    male   32           150000

                   Are_you_a  How_many_time_do_eat_food  Unnamed: 7  \
0             Data Scientist                          2         NaN
1   Machine Learning Enginer                          1         NaN
2             Data Scientist                          1         NaN
3   Machine Learning Enginer                          2         NaN
4             Data Scientist                          2         NaN
5             Data Scientist                          3         NaN
6               Data Analyst                          2         NaN
7   Machine Learning Enginer                          3         NaN
8             Data Scientist                          3         NaN
9             Data Scientist                          2         NaN
10            Data Scientist                          3         NaN
11              Data Analyst                          1         NaN
12  Machine Learning Enginer                          3         NaN
13            Data Scientist                          3         NaN
14  Machine Learning Enginer                          2         NaN

    do_you_have_aboyfriend/girlfriend
0                                   1
1                                   1
2                                   0
3                                   0
4                                   1
5                                   0
6                                   0
7                                   0
8                                   1
9                                   0
10                                  0
11                                  0
12                                  1
13                                  0
14                                  0

In [ ]:
# Stepp3: Data cleaning and pre-processing

# Check for missing values
print(df.isnull().sum())

In [ ]:
# Fill missing values
df['living allowance'].fillna(df('living allowance').median(),inplace=True)

# Drop row where living allowance column has a value 50,000 and 1000,000
df[~df['living_allowance'].isin([50000, 100000])]

In [1]:
%pip install seaborn

Requirement already satisfied: seaborn in /home/ssenyonjoalvin/anaconda3/lib/python3.11/site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /home/ssenyonjoalvin/anaconda3/lib/python3.11/site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=0.25 in /home/ssenyonjoalvin/anaconda3/lib/python3.11/site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /home/ssenyonjoalvin/anaconda3/lib/python3.11/site-packages (from seaborn) (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in /home/ssenyonjoalvin/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /home/ssenyonjoalvin/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/ssenyonjoalvin/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/ssenyonjoalvin/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /home/ssenyonjoalvin/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /home/ssenyonjoalvin/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /home/ssenyonjoalvin/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /home/ssenyonjoalvin/anaconda3/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/ssenyonjoalvin/anaconda3/lib/python3.11/site-packages (from pandas>=0.25->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /home/ssenyonjoalvin/anaconda3/lib/python3.11/site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /home/ssenyonjoalvin/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# what to do
# Step 1: import necessary libraries 
# Step 2: Loading the dataset
# Step 3: Data cleaning and preproceesing
# Step 4: EDA Explotary Data Analysis
# Distribution students with Age and whether they have girlfriend or boyfriend
# Gender who have boyfriend and girlfriend
# Do you eat, age, gender and gf and bf
# Living allowance and gf and bf
# Those with bf nd gf if they have siblings,
# the no meals taken and the living allowance
# Careers and bf or gf

# Correction Heatmaps, correlation matrix and plot the heatmaps

# Decision making/ insights of the data, data analysis conclusions

#1: Age and gf or bf
#2: Gender and gf or bf
#3: correlation analysis

# whatever is in the steps, every question should appear in the conclusion